button{
    padding: 10px;
    box-sizing: content-box;
    font-size: 16px;
    cursor: pointer;
    margin-right: 6px;
    vertical-align: top;
}

#you{
    background-color: rgb(200, 0, 0);
    color: white; 
    border: 0ch;
    border-radius: 3px;
    transition: opacity 0.15s, padding 0.6s;

}
#you:hover{
    opacity: 0.6;
    padding: 25px;
}
#you:active{
    opacity: 0.3;
}

#bud{
    background-color: white;
    color: blue;
    border-radius: 3px;
    border-color: blue;
    border-width: 1px;
    border-style: solid;
    transition: background-color 1s, color 1s;
}
#bud:hover{
    background-color: blue;
    color: white;
}
#bud:active{
    opacity: 0.5;
}

#twi{
    background-color: rgb(68, 6, 239);
    color: white;
    border-radius: 15px; 
    border: 0cm;
    font-weight: bold;
    transition: box-shadow 0.2s;
}
#twi:hover{
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
    padding-right: 5px;
    padding-bottom: 5px;
}


#req{
    background-color: black;
    color: white;
    border: 0ch;
}

#sig{
    background-color: green;
    color: white;
    border: 0ch;
    border-radius: 4px;
    font-weight: 200;
}

#add{
    background-color: yellow;
    color: black;
    border-radius: 15px;
    font-weight: 200;
    border: 0ch;
    transition: color 0.2s, background-color 0.2s;
}
#add:hover{
    background-color: yellowgreen;
    color: rgb(113, 109, 109);
}
#para{
    font-weight: 800;
    font-size: larger;
    transition: color 0.2s;
}
#para:hover{
    color: aqua;
}




